body {
    margin: 0;
    padding: 0;
    background-color: var(--color-background-page);
}

header {
    color: white;
    background-color: var(--color-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    padding: 0 32px;
}

header h1 {
    margin: 0;
    text-align: left;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 60px;
}
 
header a {
    text-decoration: none;
    color: inherit;
}

header svg.icon {
    width: 100px;
    height: 100px;
    fill: white;
}