body {
    background-color: var(--color-background-page);
    color: var(--color-text-main); 
    font-family: var(--font-main);
}

header {
    background-color: #011f4b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
    color: white;
    margin: 0;
}

header svg.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    fill: white
}