.start-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 800px;
    height: auto;

    background-color: var(--color-background-page-alt);
    border-radius: 25px;
}

.start-text {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 40px;
    margin: 10px 0;
    text-decoration: none;
}

.start-button-container:hover {
    box-shadow: 0 0 20px var(--color-header);
    transform: scale(1.05);
}
