:root {
    --color-background-page: #6497b1;
    --color-background-page-alt: #b3cde0;
    --color-header: #011f4b;

    --color-text-main: #0a0f11;

    --font-main: 'Nunito Sans', sans-serif;

    --white: white;
}